﻿@using AmadoApp.Business.ViewModels.ProductVMs
@using AmadoApp.Core.Entities
@model CreateProductVM

<div class="container">
    <h4 class="mb-5">Category Create</h4>
    <form method="post" enctype="multipart/form-data">
        <table class="table" style="border:1px solid black">
            <tbody>
                <tr>
                    <td style="border: 1px solid black">
                        <label asp-for="Title" class="form-label">Product Title</label>
                        <input asp-for="Title" class="form-control" required>
                    </td>
                    <td style="border: 1px solid black">
                        <label asp-for="Price" class="form-label">Product Price</label>
                        <input asp-for="Price" class="form-control" required>
                        <div id="priceErrorMessage" class="text-danger"></div>
                    </td>
                    <td style="border: 1px solid black">
                        <label asp-for="IsInStock" class="form-label">Product Is In Stock</label>
                        <input asp-for="IsInStock" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid black">
                        <label asp-for="BrandId" class="form-label">Product Brand</label>
                        <select asp-for="BrandId" class="form-select mx-3" required>
                            @if (Model.Brands != null)
                            {
                                foreach (var brand in Model.Brands.ToList())
                                {
                                    <option value="@brand.Id">@brand.Name</option>
                                }
                            }
                        </select>
                    </td>
                    <td style="border: 1px solid black">
                        <label asp-for="ColorIds" class="form-label">Product Colors</label>
                        <br />
                        <select asp-for="ColorIds" class="form-select mx-3" required>
                            @if (Model.Colors != null)
                            {
                                foreach (var color in Model.Colors.ToList())
                                {
                                    <option value="@color.Id">@color.Name</option>
                                }
                            }
                        </select>
                    </td>
                    <td style="border: 1px solid black">
                        <label asp-for="CategoryIds" class="form-label">Product Categories</label>
                        <br />
                        <select asp-for="CategoryIds" class="form-select mx-3" required>
                            @if (Model.Categories != null)
                            {
                                foreach (var category in Model.Categories.ToList())
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="border:1px solid black">
                        <label asp-for="Description" class="form-label">Product Description</label>
                        <input asp-for="Description" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="border:1px solid black">
                        <label asp-for="ProductFiles" class="form-label">Product Images</label>
                        <input asp-for="ProductFiles" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="mt-4 mb-4" asp-validation-summary=All></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <a asp-action="Table" asp-controller="Product">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a asp-controller="Product" asp-action="Table" class="btn btn-secondary">Cancel</a>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var priceInput = document.getElementById('Price');

        priceInput.addEventListener('input', function () {
            var priceValue = parseFloat(priceInput.value);

            if (priceValue < 0) {
                priceInput.setCustomValidity('Price cannot be less than zero.');
            } else {
                priceInput.setCustomValidity('');
            }
        });
    });
</script>