@using AmadoApp.Business.ViewModels.PageVMs
@model HomeVM﻿

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/css/Card.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/services.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <div class="navbar" id="myNavbar">
            <span class="logo">Furni.</span>
            <span class="@(Context.Request.Path == "/" ? "active" : "")"><a asp-action="Index" asp-controller="Home">Home</a></span>
            @*<span class="@(Context.Request.Path == "/ShopPage/Index" ? "active" : "")"><a asp-action="Index" asp-controller="ShopPage">Shop</a></span>*@

            <a asp-action="ShopList" asp-controller="Shop">Shop</a>
            <a asp-action="Index" asp-controller="About">About</a>
            <a asp-action="Index" asp-controller="Services">Service</a>
            <a asp-action="Index" asp-controller="Blog">Blog</a>
            @if (!User.Identity.IsAuthenticated)
            {
                <span class="nav-item"><a asp-action="Login" asp-controller="Account">Login</a></span>
                <span class="nav-item"><a asp-action="Register" asp-controller="Account">Register</a></span>
            }
            else
            {
                <span class="nav-item"><a asp-action="Logout" asp-controller="Account">Logout</a></span>
                if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <span class="nav-item"><a asp-area="Manage" asp-action="Index" asp-controller="Admin">Admin Panel</a></span>
                }
            }


            <div class="cart-btn">
                <a asp-action="Index" asp-controller="Basket">
                    <i id="cart" class="fas fa-shopping-cart"></i>
                    <span class="cart-quantity" style="cursor: auto;">
                        @(Model.BasketItems != null ? Model.BasketItems.Count : 0)
                    </span>
                </a>
            </div>




            <li class="nav-item dropdown no-arrow" style="list-style-type:none">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="font-weight:bold;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">@User.Identity.Name</span>
                <img class="img-profile rounded-circle" src="~/manage/img/undraw_profile.svg" style="width: 50px; height: 50px;">
            </li>
        </div>
    </header>

    <main>
        <section class="blogImage">
            <div class="row">
                <div class="blog">
                    <div class="col-lg-5">
                        <div class="left">
                            <h1>Design Your Home Now</h1>
                            <p>Welcome to our online furniture haven, where style meets comfort and quality craftsmanship is our signature.</p>
                            <a href="/Shop/ShopList" class="btn first btn-secondary btn-lg">Shop Now</a>

                            <a href="~/About" class="btn second btn-secondary btn-lg">Explore</a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="right">
                            <img src="https://themewagon.github.io/furni/images/couch.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="modal fade" id="purchaseModal" tabindex="-1" aria-labelledby="purchaseModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="purchaseModalLabel">Payment Details</h5>
                            <a type="button" asp-action="ShopList" asp-controller="Shop" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                        </div>
                        <div class="modal-body">
                            <!-- Diğer ödeme bilgileri formları buraya eklenebilir -->
                            <h4>Total Price: <span id="paymentTotalPrice">$0</span></h4>
                        </div>
                        <div class="modal-footer">
                            <a type="button" asp-action="ShopList" asp-controller="Shop" class="btn btn-secondary" data-bs-dismiss="modal">Back to The Shop</a>
                            <!-- Ödeme işlemini gerçekleştirecek buton buraya eklenebilir -->
                        </div>
                    </div>
                </div>
            </div>

        </section>
        @RenderBody()
    </main>
    @Html.Partial("_SubscribePartial")
    <footer>
        <div class="container">
            <div class="row">
                <div class="footer">
                    <div class="left">
                        <h1>Furni</h1>
                        <p>Welcome to Furni, where style meets functionality and quality craftsmanship defines every piece. Step into a world of timeless elegance and modern design, curated to transform your living spaces into havens of comfort and sophistication.</p>
                        <div class="social">
                            <a href="https://www.instagram.com/furniofficial/?hl=en"> <i class="fab fa-instagram"></i></a>
                            <a href="https://fr-fr.facebook.com/getfurni/"><i class="fab fa-facebook"></i></a>
                            <a href="https://twitter.com/furni?lang=en"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/businessfurni/"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="box">
                            <ul>
                                <li><a asp-action="Index" asp-controller="About" style="text-decoration:none;color:#333">About</a></li>
                                <li><a asp-action="Index" asp-controller="Services" style="text-decoration:none;color:#333">Services</a></li>
                                <li><a asp-action="Index" asp-controller="Blog" style="text-decoration:none;color:#333">Blog</a></li>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item"><a asp-action="Login" asp-controller="Account" style="text-decoration:none;color:#333">Login</a></li>
                                    <li class="nav-item"><a asp-action="Register" asp-controller="Account" style="text-decoration:none;color:#333">Register</a></li>
                                }
                                else
                                {
                                    <li class="nav-item"><a asp-action="Logout" asp-controller="Account" style="text-decoration:none;color:#333">Logout</a></li>
                                    if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                    {
                                        <li class="nav-item"><a asp-area="Manage" asp-action="Index" asp-controller="Admin" style="text-decoration:none;color:#333">Admin Panel</a></li>
                                    }
                                }
                            </ul>
                        </div>

                        <div class="box">
                            <ul>
                                <li>Support</li>
                                <li>Knowledge base</li>
                                <li>Live chat</li>
                            </ul>
                        </div>
                        <div class="box">
                            <ul>
                                <li>Jobs</li>
                                <li>Our team</li>
                                <li>Leadership</li>
                                <li>Privacy policy</li>
                            </ul>
                        </div>
                        <div class="box">
                            <ul>
                                <li>Nordic chair</li>
                                <li>Kruzo Aero</li>
                                <li>Ergonomic chair</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="down">
                <div class="left">
                    <p>Copyright ©2024. All Rights Reserved. — Designed with love by Karam Mammadli </p>
                    <p>Distributed By Code Academy</p>
                </div>
                <div class="right">
                    <ul>
                        <li>Terms & Conditions</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/active.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="~/assets/basket.js"></script>

</body>
</html>
