@model MyDeal.Entities.Auction

<h2>Edit Auction</h2>


<form method="post">

	<label>
		Title
	</label>
	<input name="Title" value="@Model.Title"/>

	<br />

	<label>
		Description
	</label>
	<input name="Description" value="@Model.Description"/>

	<br />

	<label>
		ActualPrice
	</label>
	<input name="ActualPrice" value="@Model.ActualPrice"/>

	<br />

	<label>
		StartingTime
	</label>
	<input name="StartingTime" value="@Model.StartingTime" />

	<br />

	<label>
		EndingTime
	</label>
	<input name="EndingTime" value="@Model.EndingTime" />

	<br />
	<label>
		Photo
	</label>
	<input name="PictureURL" value="@Model.PictureURL"/>
	<button>
		Save
	</button>
</form>