@model MyDeal.Entities.Auction

<h2>Edit Auction</h2>


<form method="post">
	<input type="hidden" asp-for="@Model.ID"/>
	<label>
		Title
	</label>
	<input name="Title" value="@Model.Title"/>

	<br />

	<label>
		Description
	</label>
	<input name="Description" value="@Model.Description"/>

	<br />

	<label>
		ActualPrice
	</label>
	<input name="ActualPrice" value="@Model.ActualPrice"/>

	<br />

	<label>
		StartingTime
	</label>
	<input type="date" name="StartingTime" value="@Model.StartingTime" />

	<br />

	<label>
		EndingTime
	</label>
	<input type="date" name="EndingTime" value="@Model.EndingTime" />

	<br />
	<label for="lang">Type of Car</label>
	<select name="carType">
		@foreach (var carType in Enum.GetValues(typeof(MyDeal.Entities.TypeOfCar)))
		{
			<option style="font-weight:bold" value="@((int)carType)">@Model.TypeOfCar</option>
		}
	</select>

	<br />
	<button class="btn btn-success">
		Save
	</button>
</form>