@model FinalSon.ViewModels.AuctionsListingViewModels
<div class="row">
    <div class="col-lg-12">
        <div class="float-left">
			<h2>Auctions</h2>
            <div class="float-right">
				<a class="btn btn-success" asp-action="Create">Create New Auction</a>
			</div>
        </div>

        
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Actual Price
                    </th>
                    <th>
                        Starting Time
                    </th>
                    <th>
                        Ending Time
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var auction in Model.Auctions)
                {
                    <tr>
                        <td>
                            <input type="hidden" value="@auction.AuctionId" />
                            @auction.Title
                        </td>
                        <td>
                            @auction.Description
                        </td>
                        <td>
                            @auction.ActualPrice
                        </td>
                        <td>
                            @auction.StartingTime
                        </td>
                        <td>
                            @auction.EndingTime
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-ID="@auction.AuctionId">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-ID="@auction.AuctionId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
